@model IEnumerable<Lipajoli.Models.Livre>

@{
    ViewData["Title"] = "Liste des livres";
}

<h2>Liste des livres</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Ajouter un nouveau livre</a>
</p>
<form method="get" asp-action="Index">
    <input type="text" name="searchString" placeholder="Titre..." />
    <input type="text" name="authorFilter" placeholder="Auteur..." />
    <input type="text" name="categoryFilter" placeholder="Catégorie..." />
    <button type="submit">Rechercher</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.CodeSortParam">Code</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.TitleSortParam">Titre</a>
            </th>
            <th>Auteurs</th>
            <th>Catégorie</th>
            <th>Quantité</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var livre in Model)
        {
            <tr>
                <td>@livre.CodeUnique</td>
                <td>@livre.Titre</td>
                <td>
                    @string.Join(", ", livre.LivreAuteurs.Select(ba => ba.Auteur.Nom))
                </td>
                <td>@livre.Categorie?.Nom</td>
                <td>@livre.Quantite</td>
                <td>
                    <a asp-action="Details" asp-route-id="@livre.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@livre.Id">Modifier</a> |
                    <a asp-action="Delete" asp-route-id="@livre.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>